name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    env:
     IMAGE_NAME: myslick
     IMAGE_TAG: ${{ github.run_number }}
     DOCKER_REPOSITORY: ${{ secrets.DOCKERHUB_USERNAME }}
     TAG_PREFIX: main 
   
    steps:
    - name: Checkout Repository 
      uses: actions/checkout@v2
      
    - name: Build the Docker image
      run: docker build --file Dockerfile --tag $DOCKER_REPOSITORY/$IMAGE_NAME:$TAG_PREFIX-$IMAGE_TAG . 
      
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
       username: ${{ secrets.DOCKERHUB_USERNAME }}
       password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: docker push $DOCKER_REPOSITORY/$IMAGE_NAME:$TAG_PREFIX-$IMAGE_TAG
      
      
