name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    env:
     image_name: myslick
     image_tag: ${{ github.ref }}
     docker_repository: ${{ secrets.DOCKERHUB_USERNAME }}
     tag prefix: main
    

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag docker_repository/image_nameE:$tag prefix-$image_tag
      
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
       username: ${{ secrets.DOCKERHUB_USERNAME }}
       password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: docker_repository/image_nameE:$tag prefix-$image_tag
      
